    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Sobre <span class="light">Jordi</span>Pagès</h2>
                    <p>Jordi Pagès és un artista de Granollers (1951) amb una forta empremta a Cadaqués, amb una llarga trajectòria artística. Lector apassionat, en especial de la poesia, l’utilitza com a diàleg creatiu amb conseqüències quasi sempre imprevisibles. Optant per tenir més llibertat, ha presentat la seva obra en llibreries i no en galeries. Les seves obres són una síntesi d’esferes imaginables, començant per la poesia o la pintura, passant per la música o el cinema, i finalitzant amb un calidoscopi artístic. És per aquest fet que Jordi Pagès utilitza sobretot el collage, per donar cabuda a tot el seu eclèctic imaginari creatiu.</p>
                </div>
            </div>
            <ul>
        </div>
    </section>