    <!-- Download Section -->
    <section id="download" class="content-section text-center no-padding">
        <div class="download-section">
            <div class="purple-bg">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Descarrega't les nostres ofertes!</h2>
                        <p>Hem preparat tres paquets especialment pensants per a les necessitats de comunicació web dels artistes. Escull aquell que s'adapti millor a les teves necessitats.</p>
                        <a href="/docs/serveis-web-comunicacio-artistes-jordi-pages.pdf" class="btn btn-default btn-lg"><i class="fa fa-download"></i> Descàrrega</a>
                    </div>
                </div>
            </div>
        </div>
    </section>