    <!-- Filosofia Section -->
    <section id="filosofia" class="content-section text-center no-padding">
        <div class="filosofia-section">
            <div class="purple-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h2>Filosofia d'<span class="light">Jordi</span>Pagès</h2>
                            <p>#Jordi Pagès és un espai de col·laboració que funciona com a suport perquè artistes, dissenyadors, il·lustradors i marques tinguin el seu propi punt de exposició, promoció i venta temporal. A #Jordi Pagès creiem en valors com el disseny, la creativitat, la innovació i la sostenibilitat i volem compartir-los a través del nostre projecte.</p>
                            <p>Un projecte que neix de la col.laboració de Sid Publicitat i Artipocket, formant un equip multidisciplinari amb una dilatada experiència en  disseny, comunicació, màrqueting i gestió cultural.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>