    <!-- Filosofia Section -->
    <section id="filosofia" class="content-section no-padding">
        <div class="filosofia-section">
            <div class="yellow-bg">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h2>Trajectòria de <span class="light">Jordi</span>Pagès</h2>
                            <p>La seva primera exposició va ser l'any 1979 a la sala Exposicions Caixa Sabadell de Granollers. Sota el títol d' “Inici” era una col·lectiva amb Jordi Benito. Durant tots aquests anys Jordi Pagès s'ha caracteritzat per exposar fora dels àmbits corrents del món de l'art. Biblioteques, llibreries, sales culturals, universitats, hotels, s'han omplert dels seus personalíssims collages, a mig camí entre l'art i la poesia, d'aquí que no ens hem d'estranyar que opti per aquests llocs culturals, on se sent molt més còmode que no en les institucions artístiques més acadèmiques de l'art. Al llarg de la seva trajectòria ha mostrat el seu art en multituds d'exposicions arreu del territori nacional (Barcelona, Cadaqués, Igualada, Girona, Granollers, entre molts d'altres), però també de l'internacional (Belfast (Irlanda), Céret (França), etc.).</p>
                            <h3><a href="#portfolioModal-darreres-exposicions" class="btn btn-default" data-toggle="modal">Darreres exposicions</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>