    <!-- Filosofia Section -->
    <section id="portfoli" class="content-section text-center no-padding">
        <div class="portfoli-section portfoli-section-gabriel-ferrater">
            <div class="purple-bg">
                <div class="container">
                  <h2>Obra de <span class="light">Jordi</span>Pagès</h2>
                  <h3>Sèrie Gabriel Ferrater</h3>
                  <blockquote>
                    <p>... el magnífic treball de Jordi Pagès sempre ha estat molt proper al món de la poesia, en el que s’inspira per realitzar els seus collages plens d’inscripcions, referències poètiques i color...</p>
                    <footer class="no-padding">
                      &ndash; Del catàleg Cal Talaveró centre d’art (Verdú) “exposició a Gabriel Ferrater”, agost 2012.
                    </footer>
                  </blockquote>
                  <div class="row">    
                      {% for ferraterobrajordipage in site.data.obres.ferraterobrajordipages %}
                          <div class="col-sm-4 portfolio-item">
                              <a href="#portfolioModal-{{ ferraterobrajordipage.id }}" class="portfolio-link" data-toggle="modal">
                                  <div class="caption">
                                      <div class="caption-content">
                                          <i class="fa fa-search-plus fa-3x"></i>
                                      </div>
                                  </div>
                                  <figure class="no-margin">
                                    <div class="padding-artwork-container">
                                      <img src="{{ ferraterobrajordipage.featured_src }}" alt="{{ ferraterobrajordipage.short_description }}">
                                    </div>
                                </figure>
                              </a>
                          </div>
                      {% endfor %}
                  </div>
                </div>
            </div>
          </div>
          <div class="portfoli-section portfoli-section-joan-vinyoli">
            <div class="yellow-bg">
                <div class="container">
                  <h3>A Joan Vinyoli, ara o res</h3>
                  <blockquote>
                    <p>... Com aquell atles fabulós les il.lustracions del qual es mostraven reordenades en panells verticals per tal de posar de manifest el poder fantasmagòric de la imatge com a instrument de narració i l’ús del fragment com a mecanisme de lectura, de la mateixa manera aquesta nova sèrie de treballs de Jordi Pagès incorpora components mestissos a la idea genèrica de creació &ndash; referint-nos tants als processos de construcció visual, com a dispositius de disposició espacial, com als mètodes de recepció individual-, una seqüència circular a base dels fulls d’un llibre desmembrat, pàgines d’un àlbum desmuntat en què la paraula poètica apareix com el fil d’or que cus el conjunt d’imatges artístiques entre si...</p>
                    <footer class="no-padding">
                      &ndash; Manel Clot, crític d’art. Text del full de sala, Dieu galeria d’art, exposició sobre poesia de Joan Vinyoli, oct. 2012.
                    </footer>
                  </blockquote>
                  <div class="row">    
                      {% for vinyoliobrajordipage in site.data.obres.vinyoliobrajordipages %}
                          <div class="col-sm-4 portfolio-item">
                              <a href="#portfolioModal-{{ vinyoliobrajordipage.id }}" class="portfolio-link" data-toggle="modal">
                                  <div class="caption">
                                      <div class="caption-content">
                                          <i class="fa fa-search-plus fa-3x"></i>
                                      </div>
                                  </div>
                                  <figure class="no-margin">
                                    <div class="padding-artwork-container">
                                      <img src="{{ vinyoliobrajordipage.featured_src }}" alt="{{ vinyoliobrajordipage.short_description }}">
                                    </div>
                                </figure>
                              </a>
                          </div>
                      {% endfor %}
                  </div>
                </div>
                </div>
              </div>
          </div>
          <div class="portfoli-section portfoli-section-busquet-pujolas">
            <div class="purple-bg">
                <div class="container">
                  <h3>Serie inspirada en poemes de Núria Busquet i frases de Núria Pujolàs</h3>
                  <blockquote>
                    <p>... Quan la poesia i la pintura són companyes d’una mateixa aventura de creació, acostumen a centellejar una proposta artística genuïna, suggeridora i enriquidora. Ho sap bé Jordi Pagès que des de sempre ha sentit  debilitat per la poesia, una feblesa que en la seva obra esdevé evocadora...</p>
                    <footer class="no-padding">
                      &ndash; Maria Palau, Presència 22/06/2012.
                    </footer>
                  </blockquote>
                  <div class="row">    
                      {% for busquetobrajordipage in site.data.obres.busquetobrajordipages %}
                          <div class="col-sm-4 portfolio-item">
                              <a href="#portfolioModal-{{ busquetobrajordipage.id }}" class="portfolio-link" data-toggle="modal">
                                  <div class="caption">
                                      <div class="caption-content">
                                          <i class="fa fa-search-plus fa-3x"></i>
                                      </div>
                                  </div>
                                  <figure class="no-margin">
                                    <div class="padding-artwork-container">
                                      <img src="{{ busquetobrajordipage.featured_src }}" alt="{{ busquetobrajordipage.short_description }}">
                                    </div>
                                </figure>
                              </a>
                          </div>
                      {% endfor %}
                  </div>
                </div>
              </div>
          </div>
          <div class="portfoli-section portfoli-section-poetes-ferits">
            <div class="yellow-bg">
                <div class="container">
                  <h3>Poetes<span class="light">f</span>erits</h3>
                  <p>En principi POETESfERITS podia semblar una colla de gent que atrapada en un ascensor, s’ha de traslladar a la cabina dels germans Marx. La cabina és insuficient i la cosa acaba en una exhibició de salts “bomba”. En aigua dolça o salada, les ones provocades han anat lluny i han esquitxat.</p>
                  <div class="row">    
                      {% for poetesferitsobrajordipage in site.data.obres.poetesferitsobrajordipages %}
                          <div class="col-sm-4 portfolio-item">
                              <a href="#portfolioModal-{{ poetesferitsobrajordipage.id }}" class="portfolio-link" data-toggle="modal">
                                  <div class="caption">
                                      <div class="caption-content">
                                          <i class="fa fa-search-plus fa-3x"></i>
                                      </div>
                                  </div>
                                  <figure class="no-margin">
                                    <div class="padding-artwork-container">
                                      <img src="{{ poetesferitsobrajordipage.featured_src }}" alt="{{ poetesferitsobrajordipage.short_description }}">
                                    </div>
                                </figure>
                              </a>
                          </div>
                      {% endfor %}
                  </div>
                </div>
            </div>
        </div>
          <div class="portfoli-section portfoli-section-cala-nans">
            <div class="purple-bg">
                <div class="container">
                  <h3>Exposició Serie Far de Cala Nans-poesia de Michel Houellebeq</h3>
                  <p>13 quadres 50x50. Collage/Tècnica mixta, llapis d'oli i acrílic. Impressió fotografies a Tinta Invisible edicions, imprés amb estampa digital glicée amb tintes pigmentades Ultrachrome, damunt paper Hahnemühle photo Rag de 308 g.</p>
                  <p>MICHEL HOUELLEBECQ Non réconcilié Anthologie personelle 1991-2013<br/>
                  Poésie/Gallimard 2014</p>
                  <p>MICHEL HOUELLEBECQ Poesía Edición bilingüe<br/>
                  Editorial Anagrama 2012</p>
                  <div class="row">    
                      {% for farcalanansobrajordipage in site.data.obres.farcalanansobrajordipages %}
                          <div class="col-sm-4 portfolio-item">
                              <a href="#portfolioModal-{{ farcalanansobrajordipage.id }}" class="portfolio-link" data-toggle="modal">
                                  <div class="caption">
                                      <div class="caption-content">
                                          <i class="fa fa-search-plus fa-3x"></i>
                                      </div>
                                  </div>
                                  <figure class="no-margin">
                                    <div class="padding-artwork-container">
                                      <img src="{{ farcalanansobrajordipage.featured_src }}" alt="{{ farcalanansobrajordipage.short_description }}">
                                    </div>
                                </figure>
                              </a>
                          </div>
                      {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </section>