    <!-- Serveis Section -->
    <section id="serveis" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Serveis d'<span class="light">Jordi</span>Pagès</h2>
                    <p>Gestionem les necessitats dels nostres col·laboradors. A partir de les necessitats de marca, de producte i d'exposició organitzem totes les gestions que requereix el disseny i desenvolupament d'una exposició i/o venda efímera: Suport en el desenvolupament dels objectius i la visió de marca al voltant de l'experiència de venda, recerca de localitzacions, serveis de retail design i visual merchandising, campanyes de comunicació abans i durant l'exposició temporal, l'organització de l'esdeveniment inaugural i el conjunt de necessitats que requereixi el projecte.</p> 
                    <p><strong>Ens dirigim a</strong> institucions, creadors o empreses,  que volen comunicar de manera diferent: Artistes i col·lectius que no disposen d'un lloc físic on presentar les seves creacions, botigues en línia que desitgen visibilitat offline: pop-up store proposa passar un temps del món virtual al món real i fer "tocables" els teus productes.</p>
                    <h3>Coworking i Residència</h3>
                    <p>El coworking és una nova forma d'entendre el treball que permet a professionals independents de diferents sectors d'activitat disposar d'un espai de treball independent, però compartit, amb altres iniciatives amb situacions similars a les seves, propiciant així, possibles sinergies. Si necessites un espai temporal per a treballar un projecte o desenvolupar un treball a #Jordi Pagès trobaràs totes les comoditats.</p>
                    <h3>Exposicions</h3>
                    <p>Treballem en exposicions itinerants, en muntatges integrals i en espais efímers. Realitzem exposicions a mida, personalitzades i elaborades en funció de cada espai, ens encarreguem de qualsevol dels processos que formen part de les exposicions.</p>
                    <h3>Esdeveniments</h3>
                    <p>Organització, concepció, producció i execució d’esdeveniments culturals. Treballem en l'organització i producció d'actes i activitats, ja siguin de caire públic o privat. Ens adaptem als requeriments i les necessitats específiques de l'acte que cal organitzar i podem aportar des del disseny fins a la programació de l’esdeveniment.</p>
                    <h3>Creació web, imatge i comunicació </h3>
                    <p>Un cop feta una valoració de les necessitats del teu web i analitzades les teves propostes, assegurem una implementació tècnica que s’adapti completament al grafisme, mitjançant la fusió òptima entre la tecnologia, la usabilitat i el disseny gràfic. Et garantim la pujada d’esglaons en les planes de resultats dels buscadors. T’assessorem en la redacció dels continguts del teu lloc web i implementem les últimes tècniques SEO.</p>
                </div>
            </div>
        </div>
    </section>