---
layout: compress
---

<!DOCTYPE html>
<html manifest="{{ site.url }}/manifest.appcache" lang="ca">

{% include head.html %}

<body unresolved id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" {% if page.category == 'mur-diari' %}class="mur-diari"{% endif %}>

    {% include header.html %}
    {% include about.html %}
    {% include filosofia.html %}
    {% include serveis.html %}
    {% include download.html %}
    {% include posts.html %}
    {% include contact.html %}
    {% include map.html %}
    {% include footer.html %}
    {% include aside.html %}
    {% include modals.html %}

</body>

</html>
